In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("spotify_millsongdata.csv")

In [3]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [5]:
df.shape

(57650, 4)

In [6]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [7]:
df=df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [8]:
df.head(10)

,artist,song,text
0,David Guetta,Just A Little More Love (Elektro Edit),"Just a little more love, just a little more pe..."
1,Incubus,Curse Of The Damned Cities,Hades on the earth \r\nCondemned cities \r\n...
2,James Taylor,Summertime Blues,Well I'm gonna raise a fuss \r\nAnd I'm gonna...
3,Johnny Cash,Always On My Mind,Maybe I didn't love you \r\nQuite as often as...
4,Isley Brothers,Got To Have You Back,Got to have you back I need you \r\nA jealous...
5,Ten Years After,As The Sun Still Burns Away,A thousand cities in the night \r\nEach one w...
6,Clash,Koka Kola,Elevator! Going up! \r\nIn the gleaming corri...
7,Outkast,Speedballin',"Heyy-yo, heyy-yo, we speedballin.. \r\n \r\n..."
8,Nick Cave,Shivers,"I've been contemplating suicide, \r\nBut it r..."
9,Cat Stevens,Lovely City,"Lovely city, when do you laugh? \r\nStoney pe..."

In [9]:
df['text'][0]

"Just a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\n  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love, just a little more peace  \r\nIt's all it takes to live a dream  \r\nWe're walking hand in hand, you've got to understand  \r\nAnd one day soon, we'll live in harmony  \r\n  \r\nJust a little more love  \r\nJust a little more love  \r\nJust a little more love\r\n\r\n"

In [10]:
df.shape

(5000, 3)

Text Cleaning/Text PrePerocessing

In [11]:
df['text']=df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ',regex=True)

In [12]:
df.tail(5)

,artist,song,text
4995,Kyla,Doin' Just Fine,there was a time when i thought life was over ...
4996,Zebrahead,Ignite,"drop in, hey \r \r call us degenerate, head..."
4997,David Guetta,Tomorrow Can Wait,live life given now \r tomorrow can wait \r ...
4998,Janis Joplin,A Woman Left Lonely,a woman left lonely will soon grow tired of wa...
4999,Yes,Ritual,tantras: the ritual seven notes of freedom to ...

In [13]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jwala\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [14]:
import nltk
from nltk.stem.porter import PorterStemmer

In [15]:
stemmer = PorterStemmer()

In [16]:
def token(txt):
    token =nltk. word_tokenize(txt)
    a=[stemmer.stem(w) for w in token]
    return " ".join(a)

In [17]:
token("you are beautiful,beauty")

'you are beauti , beauti'

In [18]:
df['text'].apply(lambda x: token(x))

0       just a littl more love , just a littl more pea...
1       hade on the earth condemn citi from evil popul...
2       well i 'm gon na rais a fuss and i 'm gon na r...
3       mayb i did n't love you quit as often as i cou...
4       got to have you back i need you a jealou lie h...
                              ...
4995    there wa a time when i thought life wa over an...
4996    drop in , hey call us degener , head in a purp...
4997    live life given now tomorrow can wait danc all...
4998    a woman left lone will soon grow tire of wait ...
4999    tantra : the ritual seven note of freedom to l...
Name: text, Length: 5000, dtype: object

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [20]:
tfid=TfidfVectorizer(analyzer='word',stop_words='english')

In [21]:
matrix=tfid.fit_transform(df['text'])

In [22]:
similer=cosine_similarity(matrix)

In [23]:
similer[0]

array([1.        , 0.04059404, 0.00697802, ..., 0.11623761, 0.04942601,
       0.03047481])

In [24]:
df[df['song']=='Trouble In Mind'].index[0]

1165

Recommender Function

In [25]:
def recommender(song_name):
    idx = df[df['song']==song_name].index[0]
    distance=sorted(list(enumerate(similer[idx])),reverse=True,key=lambda x:x[1])
    song=[]
    for s_id in distance[1:5]:
        song.append(df.iloc[s_id[0]].song)
    return song

In [26]:
recommender("Trouble In Mind")

['Blue Christmas',
 'Cool Blue',
 'Blue Christmas',
 'Vagabond Of The Western World']

In [34]:
import pickle

In [43]:
pickle.dump(similer,open('similarity.pkl','wb'))

In [44]:
pickle.dump(df,open('df.pkl','wb'))